body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    flex: 1;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight:bolder;
}
.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    line-height: 30px;
    text-align: left;
}
.information-header-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding:0px 100px;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.links {
    list-style: none;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
}

.section-1 {
    display:flex;
    flex-direction: column;
    background-color: #1F2937;
    padding:50px 100px;
    min-height:25vh;
}

/* Header */


/* Section 1 info */
.section-1-info {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 40%;
}
.image {
    max-width: 500px;
    flex-grow: 0;
    height:auto;
}
.title {

}

.subtext {

}
button {
    width: 100px;
    height: auto;
    background-color: #3882f6;
    font-weight: bold;
    border-radius: 10px;
}

.image {
    height:auto;
}




/* section 2 */

.section-2{
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
}

.title2 {
    text-align: center;
}

.projects {
    display: flex;
    justify-content: space-evenly;
    gap:10px;
    padding: 50px 0px;
}
.project-stack {
    display: flex;
    flex-direction: column;
    width: 208px;
    height: auto;
    gap: 30px
}
.project-picture {
    width: 200px;
    height: 200px;
    border: solid;
    border-color: #3882f6;
    border-radius: 15px;
}
.subtext2 {
    text-align: center;
}